body {
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5px;
}
#description a{
    text-decoration: none;
    color: #000;
}
#description a :hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #000;
}
#description{
    width: 25%;
    object-fit:contain;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#gallery img {
    width: 100%;
    object-fit:contain;
}
#gallery a {
    width: 40%;
    object-fit:contain;
}
#gallery a :hover{
    filter: grayscale(100);
}
@media (max-width: 1000px) {
    #gallery a {
        width: 100%;
        object-fit:contain;
    }
    #description{
      width: 100%;
  }
}
